{% extends "base.html"%}
{% load static %}
{% block start %}

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card with stretched link</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
    </div>
  </div>


{% endblock %} 